.l-pagination {
  white-space: nowrap;
  font-size: 14px;
  display: flex;
  align-items: center;
  line-height: 1;
  color: #333333;
  list-style: none;
}
.l-pagination.l-pagination-start {
  justify-content: flex-start;
}
.l-pagination.l-pagination-end {
  justify-content: flex-end;
}
.l-pagination.l-pagination-center {
  justify-content: center;
}
.l-pagination-item {
  height: 30px;
}
.l-pagination-item:not(:first-child) {
  margin-left: 5px;
}

.l-pagination-item .l-btn {
  padding: 0;
  width: 30px;
  height: 100%;
}

.l-pagination-item a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 100%;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  border: 1px solid transparent;
  border-radius: 3px;
  box-sizing: border-box;
  color: #666;
}

.l-pagination-item a:hover {
  color: var(--l-primary-color-light1, #73d13d);
}
.l-pagination-item a:active {
  color: var(--l-primary-color-dark1, #389e0d);
}

.l-pagination-item.is-active a {
  color: var(--l-primary-color, #52c41a);
  border-color: var(--l-primary-color, #52c41a);
}

.l-pagination .l-pagination-simple-input {
  --l-input-width: 60px;
  --l-form-control-height: 100%;
  text-align: center;
}
.l-pagination-simple-layout {
  display: inline-flex;
  align-items: center;
}
.l-pagination-simple-divide {
  margin: 0 5px;
}
