.l-select {
  display: inline-flex;
  min-height: var(--l-form-control-height, 32px);
  width: 100%;
  border: 1px solid var(--l-border-color, #dedede);
  transition: all 0.3s ease-in-out;
  font-size: 14px;
  position: relative;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  padding: 4px 10px;
  border-radius: 4px;
  gap: 5px;
}
.l-select--active,
.l-select:hover {
  border-color: var(--l-primary-color-light1, #9254de);
}
.l-select--arrow,
.l-select-placeholder {
  color: #a8abb2;
}
.l-select--clear,
.l-select--loading {
  position: absolute;
  right: 10px;
  top: 50%;
}
.l-select--loading {
  background-color: #ffffff;
  transform: translate3d(0, -50%, 0);
  color: var(--l-primary-color, #9254de);
  animation: l-select-loading 1.5s infinite linear;
}
.l-select--clear {
  color: #afafaf;
  transform: translate3d(0, -50%, 0);
  transition: color 0.3s ease-in-out;
}
.l-select--clear:hover {
  color: #929292;
}
.l-select-main {
  display: flex;
  gap: 5px;
  flex-flow: row wrap;
  font-size: 14px;
  line-height: 1;
  flex-grow: 1;
  overflow: hidden;
}
.l-select-item {
  flex-shrink: 0;
}
.l-select-search {
  flex-grow: 1;
  display: inline-flex;
}
.l-select--arrow {
  flex-shrink: 0;
  transition: transform 0.3s ease-in-out;
  transform: rotate3d(0, 0, 1, 0deg);
}
.l-select--arrow.nt-expanded {
  transform: rotate3d(0, 0, 1, 180deg);
}
.l-select-list {
  max-height: 190px;
  overflow: auto;
}
.l-select-popover {
  --l-select-option-hover-color: var(--l-primary-color-light4, #efdbff);
  padding: 0;
}
.l-select-option {
  box-sizing: border-box;
  height: var(--l-form-control-height, 32px);
  line-height: var(--l-form-control-height, 32px);
  padding: 0 10px;
  cursor: pointer;
  color: #333;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.l-select-option--empty {
  --l-select-option-hover-color: #ffffff;
  justify-content: center;
  cursor: default;
  color: var(--l-info-color, #999);
}
.l-select-option:hover {
  background-color: var(--l-select-option-hover-color);
}
.l-select-option--selected {
  color: var(--l-primary-color-light1, #9254de);
}
.l-select--input {
  min-width: 15px;
  background-color: transparent;
  border: none;
  outline: none;
  max-width: 100%;
  padding: 0;
  margin: 0;
  width: 0;
  flex-grow: 1;
}
.l-select--input::placeholder {
  color: #a8abb2;
}

/* 旋转动画 */
@keyframes l-select-loading {
  from {
    transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, 0);
  }
  to {
    transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, 360deg);
  }
}
