.l-theme-btn {
  --l-btn-background: transparent;
  --l-btn-hover-background: transparent;
  --l-btn-text-color: rgb(156, 163, 175);
  --l-btn-hover-text-color: #666666;
  width: var(--l-form-control-height, 32px);
  padding: 0;
  font-size: 20px;
}

html.dark .l-theme-btn {
  --l-btn-hover-text-color: #ffffff;
}
