.l-page-header {
  display: flex;
  position: relative;
  align-items: center;
}

.l-page-header-operator {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.l-page-header-left,
.l-page-header-right {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  z-index: 1;
}

.l-page-header-content {
  display: flex;
  align-items: center;
  line-height: 1;
}

.l-page-header-sub-title {
  font-size: 14px;
  font-weight: 500;
  color: #999999;
  margin-left: 10px;
}

.l-page-header-title {
  font-size: 16px;
  font-weight: 600;
}
.l-page-header-backbtn {
  padding: 5px 0;
}

.l-page-header-align-left .l-page-header-left {
  margin-right: 15px;
}
.l-page-header-align-left .l-page-header-right {
  margin-left: 15px;
}

.l-page-header-align-left .l-page-header-content {
  flex: 1 0 auto;
}

.l-page-header-align-center {
  border-bottom: 1px solid #dedede;
  justify-content: space-between;
}

.l-page-header-align-center .l-page-header-content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  justify-content: center;
}
.l-page-header-align-center .l-page-header-backbtn {
  padding: 8px 0;
}
.l-page-header-align-center .l-page-header-backbtn [class*='l-icon'] + span {
  margin-left: 0;
}
