.l-opacity-enter-active,
.l-opacity-leave-active {
  transition: opacity var(--l-transition-times, 0.3s) ease;
}

.l-opacity-enter-from,
.l-opacity-leave-to {
  opacity: 0;
}

.l-fadein-enter-active,
.l-fadein-leave-active {
  transition: all var(--l-transition-times, 0.3s) ease-in-out;
}
.l-fadein-enter-from,
.l-fadein-leave-to {
  opacity: 0;
  transform: translateY(var(--l-fadein-offset, -20px));
}

.l-scale-enter-from,
.l-scale-leave-to {
  opacity: 0;
  transform: scale(0);
}
.l-scale-enter-active,
.l-scale-leave-active {
  transition: all var(--l-transition-times, 0.3s) ease-in-out;
}
