/* table 表格 */
.l-table-wrapper {
  display: inline-block;
  width: 100%;
  overflow: auto;
}
.l-table {
  width: 100%;
  background-color: #fff;
  color: #666;
  font-size: 14px;
  border-collapse: collapse;
  border-spacing: 0;
}
.l-table-fixed {
  table-layout: fixed;
}
.l-table tbody tr {
  transition: all 0.25s ease-out;
}
.l-table tbody tr:hover td {
  background-color: #f2f2f2;
}
.l-table .caret-wrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  height: 14px;
  width: 20px;
  position: relative;
}
.l-table .caret-wrapper .ascending {
  border-bottom-color: #c0c4cc;
  top: -5px;
}
.l-table .caret-wrapper .descending {
  border-top-color: #c0c4cc;
  bottom: -3px;
}
.l-table .sort-caret {
  display: inline-block;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  position: absolute;
  border-radius: 3px;
}
.l-table .sort-column {
  cursor: pointer;
}
.l-table .sort-asc .ascending {
  border-bottom-color: var(--l-primary-color, #52c41a);
}
.l-table .sort-desc .descending {
  border-top-color: var(--l-primary-color, #52c41a);
}
.l-table td,
.l-table th {
  padding: 10px;
  border-bottom: 1px solid #e6e6e6;
}
.l-table th,
.l-table tfoot td {
  text-align: left;
  background-color: #f2f2f2;
}
.l-table td {
  background-color: #ffffff;
}
.l-table-stripe tbody tr:nth-child(even) td {
  background-color: #fafafa;
}
.l-table-stripe tbody tr:nth-child(even):hover td {
  background-color: #f2f2f2;
}

.l-table-border tr,
.l-table-border td {
  border: 1px solid #e6e6e6;
}

.l-table__none-col {
  color: #999999;
  text-align: center;
}

.l-table .l-fixed {
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  box-sizing: border-box;
}
.l-table thead.l-fixed,
.l-table tfoot.l-fixed {
  z-index: 2;
}
.l-table-selection-cell {
  display: flex;
  justify-content: center;
  align-items: center;
}
