.l-table-expand-icon {
  --l-form-control-height: auto;
  --l-btn-background: transparent;
  --l-btn-hover-background: transparent;
  --l-btn-active-background: transparent;
  border: none;
  padding: 0 3px;
  margin-right: 5px;
  margin-bottom: 3px;
}

.l-table-expand-icon .l-icon {
  transition: transform 0.3s ease-in-out;
  transform: rotate3d(0, 0, 1, 0deg);
}
.l-table-expand-icon.l-table-expand-icon--expanded .l-icon {
  transform: rotate3d(0, 0, 1, 90deg);
}
.l-table-expand-icon.l-table-expand-placeholder {
  visibility: hidden;
}
