.l-dialog-box-main {
  width: 340px;
}

.l-message-dialog-container {
  display: flex;
  align-items: center;
}

.nt-confirm-icon {
  margin-right: 5px;
}
.nt-confirm-icon--info {
  color: var(--l-success-color, #999999);
}
.nt-confirm-icon--success {
  color: var(--l-success-color, #19bf6c);
}
.nt-confirm-icon--error {
  color: var(--l-error-color, #ed3f13);
}
.nt-confirm-icon--warn {
  color: var(--l-warn-color, #f90);
}

.nt-prompt-tip {
  font-size: 14px;
  margin: 0 0 5px 0;
}

.nt-prompt-dialog-container .l-input {
  width: 100%;
}
