.l-desc-panel {
  --l-desc-panel-min-height: 100px;
  --l-desc-panel-font-size: 12px;
  --l-desc-panel-textindent: calc(var(--l-desc-panel-font-size) * 2);
  max-height: var(--l-desc-panel-max-height, max-content);
  color: rgb(31 41 55);
  font-size: var(--l-desc-panel-font-size);
  position: relative;
  transition: all 0.15s linear;
}

.l-desc-panel p {
  text-indent: var(--l-desc-panel-textindent);
  margin: 0;
  font-size: inherit;
}
.l-desc-panel-operator {
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  background: transparent;
  z-index: 2;
  display: flex;
  justify-content: center;
}
.l-desc-panel-btnmore {
  font-size: var(--l-desc-panel-font-size);
}
.l-desc-panel-arrow {
  margin-left: 5px;
  transition: transform 0.3s ease-in-out;
  transform: rotate3d(0, 0, 1, 180deg);
}

.l-desc-panel.collapse {
  max-height: var(--l-desc-panel-min-height);
  overflow-y: hidden;
}
.l-desc-panel.collapse .l-desc-panel-operator {
  position: absolute;
  left: 0;
  bottom: 0;
  padding-top: 65px;
  background: linear-gradient(
    -180deg,
    rgba(255, 255, 255, 0) 0%,
    rgb(255, 255, 255) 80%
  );
}

.l-desc-panel.collapse .l-desc-panel-arrow {
  transform: rotate3d(1, 0, 0, 0deg);
}
