.l-message-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  pointer-events: none;
  padding-top: 10px;
}

.l-message {
  padding: 10px;
  display: inline-flex;
  align-items: center;
  border-radius: 5px;
  font-size: 14px;
  background: #f0faff;
  color: var(--l-primary-color);
  border: 1px solid #d4eeff;
  margin-top: 10px;
  box-sizing: border-box;
  pointer-events: auto;
}
.l-message .l-message-icon {
  margin-right: 5px;
}
.l-message.l-message-success {
  background: #edfff3;
  color: var(--l-success-color);
  border-color: #bbf2cf;
}
.l-message.l-message-error {
  background: #ffefe6;
  color: var(--l-error-color);
  border-color: #ffcfb8;
}
.l-message.l-message-warn {
  background: #fff9e6;
  color: var(--l-warn-color);
  border-color: #ffe7a3;
}

/* 动画 */
.l-message-fade-enter-active,
.l-message-fade-leave-active {
  transition: all 0.3s;
}
.l-message-fade-enter-from,
.l-message-fade-leave-to {
  opacity: 0;
  transform: translateY(-20px);
}
.l-message-fade-leave-active {
  position: absolute;
  top: 100%;
}

@media screen and (max-width: 768px) {
  .l-message {
    width: 90%;
  }
}
