.l-message {
  position: fixed;
  left: 50%;
  top: 20px;
  padding: 10px;
  transform: translate3d(-50%, 0, 0);
  transition:
    opacity 0.3s,
    transform 0.3s,
    top 0.3s;
  display: flex;
  align-items: center;
  border-radius: 5px;
  font-size: 14px;
  background: #f0faff;
  color: var(--l-primary-color);
  border: 1px solid #d4eeff;
}
.l-message .l-message-icon {
  margin-right: 5px;
}
.l-message.l-message-success {
  background: #edfff3;
  color: var(--l-success-color);
  border-color: #bbf2cf;
}
.l-message.l-message-error {
  background: #ffefe6;
  color: var(--l-error-color);
  border-color: #ffcfb8;
}
.l-message.l-message-warn {
  background: #fff9e6;
  color: var(--l-warn-color);
  border-color: #ffe7a3;
}
.l-message-container {
  display: flex;
  align-items: center;
}

.l-message-fade-enter-from,
.l-message-fade-leave-to {
  opacity: 0;
  transform: translate3d(-50%, -100%, 0);
}

@media screen and (max-width: 768px) {
  .l-message {
    width: 90%;
  }
}
